.formedit-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#profile-navigation {
  color: #000;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  
}

#profile-navigation .ghye {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

#profile-navigation .hjpk {
  display: inline-block;
  margin: 0 60px;
}
#profile-navigation .hjpk a:hover{
  color: #777777;
}
#profile-navigation .lkm {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
#profile-navigation .tip {
  color: #707070;
}
#profile-navigation .tip:hover {
  color: #081bc3;
}

.hrdev {
  width: 90%;
  margin-left: 70px;
  color: #f2f2f2;
  background-color: #f2f2f2;
}
.hhh {
  display: flex;
  min-height: 13vh;
  justify-content: left;
  margin-left: 50px;
  align-items: center;
}
.container {
  width: 800px;
}
.entryarea {
  position: relative;
  top: 0;
  line-height: 50px;
}
.inedit {
  height: 50px;
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: transparent;
  transition: 0.1s ease;
  z-index: 111;
}
.list-input_info{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.labelline {
  position: absolute;
  font-size: 16px;
  color: #707070;
  padding: 0 25px;
  margin: 0 20px;
  background-color: #fff;
  transition: 0.2s ease;
}
.inedit:focus,
.inedit:valid {
  color: black;
  border: 1.2px solid #8891eb;
}
.inedit:focus + .labelline,
.inedit:valid + .labelline {
  color: #8891eb;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}
.button-save_editPage{
  margin-top: 40px;
  width: 10%;
  margin-left: 30%;
}

.aaa {
  font-size: 13px;
  text-decoration: none;
}
